@charset "UTF-8";
@import "reset";
@import "mixin";
@import "compass";
@import "compass/css3/";
@import "compass/utilities";

div#uipm-app-header {
    background: #222;
    .uipm-app-header-wrap {
        @include clearfix;
        width: 90%;
        margin: 0 auto;
        padding: 12px 0;
        .uipm-app-search,
        .uipm-app-cssInput {
            width: 50%;
            input {
                display: inline-block;
                width: 50%;
                height: 20px;
                padding: 4px 6px;
                font-size: 14px;
                line-height: 20px;
                color: #555;
                vertical-align: middle;
                border-radius: 4px;
                background-color: #fff;
                border: 1px solid #ccc;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                &:focus {
                    outline: none;
                    transition: width 0.1s ease;
                }
                &[type="search"] {
                    box-sizing: content-box;
                }
            }
            button.uipm-app-btn {
                float: right;
            }
        }
        .uipm-app-search {
            float: left;
            input {
                float: left;
                &:focus {
                    width: 100%;
                }
            }
        }
        .uipm-app-cssInput {
            float: right;
            input {
                float: right;
                &:focus {
                    width: 70%;
                }
            }
        }
        .uipm-app-logo-main {
            position: absolute;
            top: 4px;
        }
    }
}

nav#uipm-app-nav-menu {
    position: relative;
    width: 90%;
    margin: 20px auto 0;
    .uipm-app-tabMenu {
        min-height: 40px;
        padding-right: 20px;
        padding-left: 20px;
        background-image: linear-gradient(to bottom, #fff, #f2f2f2);
        background-repeat: repeat-x;
        border: 1px solid #d4d4d4;
        border-radius: 4px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
        &::before,
        &::after {
            display: table;
            line-height: 0;
            content: "";
        }
    }
    .uipm-app-tabMenuList {
        @include clearfix;
        position: relative;
        left: 0;
        display: block;
        float: left;
        margin: 0 10px 0 0;
        li {
            float: left;
            height: 40px;
            padding: 0 5px;
            border-left: 1px solid #DDD;
            line-height: 40px;
            &:last-child {
                border-right: 1px solid #DDD;
            }
            &.cur {
                color: #555 !important;
                text-decoration: none;
                background-color: #e5e5e5;
                box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
            }
            input {
                @include appearance(none);
                @include box-sizing(border-box);
                display: block;
                width: 100%;
                height: 40px;
                margin: 0 auto;
                padding: 0;
                background: none;
                border: none;
                font-size: 12px;
                font-weight: bold;
                text-align: center;
                cursor: pointer;
            }
        }
    }
}

#uipm-app-main-view,
#uipm-app-readFiles-view {
    position: relative;
    width: 90%;
    margin: 20px auto;
    > .uipm-app-title {
        background-image: linear-gradient(to bottom, #fff, #f2f2f2);
        background-repeat: repeat-x;
        font-weight: bold;
        line-height: 34px;
        > .uipm-app-titleList {
        @include display-flex;
        border-right: #ddd 1px solid;
            > li {
                @include box-sizing(border-box);
                min-width: 80px;
                padding: 0 0 0 10px;
                border-top: #ddd 1px solid;
                border-left: #ddd 1px solid;
                font-size: 14px;
                &.uipm-app-col1 { width: 20%; }
                &.uipm-app-col2 { width: 40%; }
                &.uipm-app-col3 { width: 40%; }
            }
        }
    }
    > .uipm-app-main-InputView,
    > .uipm-app-readFiles {
        width: 100%;
        border-bottom: #dddddd 1px solid;
        > .uipm-app-itemList {
            @include display-flex;
            > li {
                @include box-sizing(border-box);
                min-width: 80px;
                padding: 5px 10px;
                border-top: #ddd 1px solid;
                border-left: #ddd 1px solid;
                font-size: 14px;
                line-height: 1.2;
                &:last-child {
                    border-right: #ddd 1px solid;
                }
                &.uipm-app-col1 {
                    width: 20%;
                    p { padding: 4px 0 0 4px; }
                }
                &.uipm-app-col2 { width: 40%; }
                &.uipm-app-col3 {
                    position: relative;
                    width: 40%;
                }
                textarea {
                    @include appearance(none);
                    display: block;
                    @include box-sizing(border-box);
                    width: 100%;
                    background: none;
                    border: none;
                    resize: none;
                    &:disabled {
                        color: #000;
                    }
                }
                .uipm-app-nav-text {
                    color: #aaa;
                    font-size: 12px;
                }
            }
            &:nth-child(even) > li {
                background-color: #F9F9F9;
            }
        }
    }
    > .uipm-app-main-InputView {
        > .uipm-app-itemList {
            > li { min-height: 67px; }
        }
    }
    .uipm-app-assetsSwitch {
        margin-bottom: 10px;
        font-size: 12px;
    }
}

#uipm-app-readFiles-view > .uipm-app-title > .uipm-app-titleList > li.uipm-app-col2,
#uipm-app-readFiles-view > .uipm-app-readFiles > .uipm-app-itemList > li.uipm-app-col2 {
    position: relative;
    width: 80%;
}

.uipm-app-add-category-btn,
.uipm-app-add-itemBtn,
.uipm-app-delete-category-btn,
.uipm-app-delete-itemBtn,
.uipm-app-delete-assetsBtn {
    position: absolute;
    bottom: 14px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    line-height: 15px;
    color: #FFF;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    &:hover {
        opacity: 0.7;
    }
}

.uipm-app-add-category-btn,
.uipm-app-add-itemBtn {
    right: 10px;
    background-image: linear-gradient(to bottom, #8AE100, #7AC700);
    font-size: 14px;
}

.uipm-app-add-itemBtn {
    bottom: -25px;
}

.uipm-app-delete-category-btn,
.uipm-app-delete-itemBtn,
.uipm-app-delete-assetsBtn {
    background-image: linear-gradient(to bottom, #FD4141, #D73838);
    font-size: 22px;
    text-indent: 1px;
}

.uipm-app-delete-category-btn {
    right: 35px;
}

.uipm-app-delete-itemBtn,
.uipm-app-delete-assetsBtn {
    top: 50%;
    right: -25px;
    margin-top: -8px;
}

.uipm-app-btn {
    height: 30px;
    margin-left: 5px;
    padding: 0 6px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #fff, #f2f2f2);
    border: 1px solid #ccc;
    cursor: pointer;
}

.uipm-app-logo-main {
    width: 92px;
    height: 46px;
    background: url(/img/ui/base/logo_main.png) no-repeat;
    @include background-size(92px auto);
}